#mainDiv {
  border: 1px solid #000;
  width: 700px;
  height: 700px;
  background-color: aquamarine;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.subDiv {
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  background-color: blueviolet;
}
