#container{
    width: 90%;
    margin: 2% auto;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 100px;
}

#DrImage{
    height: 100%;

    img{
        width: 500px;
        height:inherit;
        object-fit: cover;
        object-position: top;
    }
}


h1{
    border-bottom: 2px solid red;
    text-align: center;
    padding-bottom: 10px;
}


#formFeilds{
    display: grid;
    grid-template-columns: 250px 300px;
    gap: 20px;
    input{
        width: 50%;
    }
}


#FullName{
    display: flex;
    gap: 20px;
}