:root{
  --primary:blue;
  --secondary:gray;
  --tertiary:rgb(84, 84, 84);
  --text:whitesmoke;

  --sb:space-between
}



* {
  margin: 0;
  padding: 0;
}

.NavBar {

  --abc:center;
  border: 1px solid black;
  background-color: var(--primary);
  color: var(--text);
  padding: 10px 50px;
  display: flex;
  justify-content: var(--sb);
  align-items: var(--abc);
  position: sticky;
  top: 0px;
  z-index: 99;
}


#links{
    display: flex;
    gap: 20px;
}


#help{
    background-color: red;
    position: fixed;
   bottom: 40px;
    right: 40px;
}



#d2{
  width: 600px;
  height: 500px;
  border: 1px solid #000;
  background-color: aqua;
  position: relative;
  margin: auto;
}


#d2btn{
  padding: 5px;
  border: 1px solid #000;
  background-color: red;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 450px;
  left: 400px;
}
